{% extends "dashboard/base.html" %}
{% block content %}
<div id="pivot"></div>

<script src="https://cdn.flexmonster.com/flexmonster.js"></script>
<script type="text/javascript">
    var pivot = new Flexmonster({
        container: "#pivot",
        componentFolder: "https://cdn.flexmonster.com/",
        height: 600,
        toolbar: true,
        report: {
            "dataSource": {
                "type": "api",
                "url": "http://localhost:9204/mongo", // the url where our connector is running
                "index": "marketing" // specify the collection’s name
            },
            "slice": {
                "rows": [
                    {
                        "uniqueName": "Country"
                    }
                ],
                "columns": [
                    {
                        "uniqueName": "[Measures]"
                    }
                ],
                "measures": [
                    {
                        "uniqueName": "Leads",
                        "aggregation": "sum"
                    },
                    {
                        "uniqueName": "Opportunities",
                        "aggregation": "sum"
                    }
                ]
            }
        }
    });
</script>
{% endblock %}